@import "./base/_reset", "./base/typography", "./base/colors", "./base/mixin",
   "./base/helpers";

@import "./layouts/_board", "./layouts/_keys";

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}
.board {
   flex-grow: 2;
}
.keys {
   flex-grow: 1;
}

@media screen and (min-width: 30rem) {
   body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   }
   .main {
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 1rem;
      max-width: 33rem;
      height: 90%;
      border-radius: 2rem;
   }
   .board {
      border-radius: 2rem;
   }
}
